<% if params[:controller] == 'posts' %>
<div class="jumbotron">
      <div class="container">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBSA52qklrV9HJDgWfxIhh4xsZ9SEql924&sensor=false&libraries=places"></script>
        <div ="googleMap" style="width:500px;height:180px;"></div>
        <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> My current location</a> 
    </div>
</div>
<%end%>